@font-face {
  font-family: "otun";
  src: url(Otun.ttf) format("truetype");
  font-family: "rawengu";
  src: url(RawengulkLight.ttf) format("truetype");
  font-family: "rawe";
  src: url(RawengulkRegular.ttf) format("truetype");
  font-family: "hasterisco";
  src: url(HasteristicoBOLD.ttf) format("truetype");
}

/* line 19, ../sass/comun.sass */
body {
  background-color: #483737;
}

/* line 22, ../sass/comun.sass */
.fondo {
  background-color: #aca793;
}

/* line 25, ../sass/comun.sass */
.frase {
  color: #99cc33;
  font-family: "hasterisco";
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 3px #483737;
}

/* line 36, ../sass/comun.sass */
.botones {
  margin-left: -11px;
}

/* line 39, ../sass/comun.sass */
.menuBotones {
  z-index: 3;
}

/* line 42, ../sass/comun.sass */
h2 {
  font-family: "otun";
}

/* line 45, ../sass/comun.sass */
p {
  font-family: "rawe";
  font-size: 18px;
}

/* line 50, ../sass/comun.sass */
.cooperativa {
  font-size: 26px;
  padding: 30px;
  text-align: left;
}

/* line 57, ../sass/comun.sass */
.resalta {
  color: #e5f04c;
}

/* line 60, ../sass/comun.sass */
#inicio {
  padding-bottom: 20px;
  padding-top: 20px;
}
