/* line 4, ../sass/culturaLibre.sass */
#arriba {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

/* line 9, ../sass/culturaLibre.sass */
#codigo {
  display: none;
  text-align: left;
}

/* line 13, ../sass/culturaLibre.sass */
#codigoDescripcion {
  display: none;
  text-align: left;
}

/* line 17, ../sass/culturaLibre.sass */
#derecha, #derecha_abajo, #derecha_arriba {
  margin-left: 0px;
}

/* line 20, ../sass/culturaLibre.sass */
#derecha_abajo {
  position: relative;
  top: 0px;
}

/* line 25, ../sass/culturaLibre.sass */
#derecha_arriba {
  bottom: 0px;
  left: 0px;
  position: absolute;
}

/* line 31, ../sass/culturaLibre.sass */
#disenio {
  display: none;
  text-align: left;
}

/* line 35, ../sass/culturaLibre.sass */
#disenioDescripcion {
  display: none;
  text-align: left;
}

/* line 39, ../sass/culturaLibre.sass */
#fotos {
  display: none;
  text-align: left;
}

/* line 43, ../sass/culturaLibre.sass */
#fotosDescripcion {
  display: none;
  text-align: left;
}

/* line 47, ../sass/culturaLibre.sass */
#izquierda_arriba {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

/* line 52, ../sass/culturaLibre.sass */
#izquierda_abajo {
  position: absolute;
  right: 0px;
  top: 0px;
}

/* line 58, ../sass/culturaLibre.sass */
ul.inline > li, ol.inline > li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 64, ../sass/culturaLibre.sass */
#logoCulturaPeque {
  display: none;
  width: 10%;
}

/* line 68, ../sass/culturaLibre.sass */
#manuales {
  display: none;
  text-align: left;
}

/* line 72, ../sass/culturaLibre.sass */
#manualDescripcion {
  display: none;
  text-align: left;
}

/* line 76, ../sass/culturaLibre.sass */
.arriba {
  padding-bottom: 0px;
}

/* line 80, ../sass/culturaLibre.sass */
.cultura {
  height: 145px;
  min-height: 145px;
  position: relative;
}

/* line 85, ../sass/culturaLibre.sass */
.logoCultura {
  text-align: center;
}

/* line 89, ../sass/culturaLibre.sass */
.textCulturaLibre {
  align: center;
  background-color: #2e4383;
  color: white;
  margin: 0 auto;
  opacity: 0.8;
  padding: 2px;
  position: relative;
  text-align: right;
  width: 80%;
  z-index: 4;
}

/* line 102, ../sass/culturaLibre.sass */
.peque dt {
  width: 80px;
}

/* line 105, ../sass/culturaLibre.sass */
.peque dd {
  margin-left: 100px;
}
