@font-face {
  font-family: "otun";
  src: url(Otun.ttf) format("truetype");
  font-family: "rawengu";
  src: url(RawengulkLight.ttf) format("truetype");
  font-family: "rawe";
  src: url(RawengulkRegular.ttf) format("truetype");
  font-family: "hasterisco";
  src: url(HasteristicoBOLD.ttf) format("truetype");
}

/* line 16, ../sass/eventos.sass */
.carousel-control {
  background: none;
  border: none;
  color: #66ff33;
  filter: alpha(opacity=50);
  font-family: "hasterisco";
  font-size: 180px;
  font-weight: 100;
  left: 15px;
  line-height: 30px;
  margin-top: -20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 40px;
}

/* line 37, ../sass/eventos.sass */
.carousel-control:hover,
.carousel-control:focus {
  color: #99cc33;
  filter: alpha(opacity=90);
  opacity: 0.9;
  text-decoration: none;
}

/* line 44, ../sass/eventos.sass */
.carousel-inner {
  text-align: center;
}

/* line 48, ../sass/eventos.sass */
.detalle {
  background: #99cc33;
  opacity: 0.7;
}

/* line 52, ../sass/eventos.sass */
.evento {
  padding-bottom: 1px;
}

/* line 55, ../sass/eventos.sass */
.foto {
  height: 400px;
  max-height: 400px;
}

/* line 59, ../sass/eventos.sass */
.miItem {
  text-align: center;
}

/* line 63, ../sass/eventos.sass */
.text {
  align: center;
  background-color: #660080;
  color: white;
  margin: 0 auto;
  opacity: 0.8;
  padding: 2px;
  position: relative;
  text-align: right;
  width: 80%;
  z-index: 4;
}

/* line 75, ../sass/eventos.sass */
#principal {
  margin-left: 0px;
}
