@font-face {
  font-family: "otun";
  src: url(Otun.ttf) format("truetype");
}

@font-family: "rawe" {
  src: url(RawengulkRegular.ttf) format("truetype");
}

/* line 12, ../sass/foot.sass */
a {
  color: #edbc00;
  text-decoration: none;
}

/* line 16, ../sass/foot.sass */
.alert {
  font-family: "rawe";
  font-size: 16px;
}

/* line 21, ../sass/foot.sass */
.footer {
  background-color: #483737;
  color: #edbc00;
  height: 100%;
  font-family: "otun";
  font-size: 36px;
  -moz-box-shadow: 0 0 5px #070606;
  -webkit-box-shadow: 0 0 5px #070606;
  box-shadow: 0 0 5px #070606;
}

/* line 32, ../sass/foot.sass */
label {
  color: white;
  font-family: tahoma;
}

/* line 36, ../sass/foot.sass */
.contacto {
  font-family: "otun";
  font-size: 56px;
  margin-bottom: 60px;
  padding-top: 60px;
}

/* line 43, ../sass/foot.sass */
.btn-enviar {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #edbc00;
  *background-color: #edbc00;
  background-image: -moz-linear-gradient(top, #f4d766, #edbc00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4d766), to(#edbc00));
  background-image: -webkit-linear-gradient(top, #f4d766, #edbc00);
  background-image: -o-linear-gradient(top, #f4d766, #edbc00);
  background-image: linear-gradient(to bottom, #f4d766, #edbc00);
  background-repeat: repeat-x;
  border-color: #edbc00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4D766', endColorstr='#EDBC00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-family: "otun";
  font-size: 26px;
  font-weight: bold;
}

/* line 63, ../sass/foot.sass */
.btn-enviar:hover,
.btn-enviar:active,
.btn-enviar.active,
.btn-enviar.disabled,
.btn-enviar[disabled] {
  color: white;
  background-color: #edbc00;
  *background-color: #003bb3;
}

/* line 72, ../sass/foot.sass */
.form-input, .error {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
  background-color: #ffe6e6;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
  behavior: url(PIE.htc);
  background: #ffe6e6;
  color: #b94a48;
  position: relative;
  font-family: "rawe";
  font-size: 16px;
}

/* line 91, ../sass/foot.sass */
.iconos {
  margin-top: -60px;
  padding-right: 10px;
  text-align: right;
}

/* line 96, ../sass/foot.sass */
.linea {
  background-color: #edbc00;
  border: 0px;
  height: 3px;
  margin-top: 40px;
  repeat: repeat-x;
}

/* line 103, ../sass/foot.sass */
.logos {
  margin-top: 120px;
  text-align: center;
}
