/* line 1, ../sass/inicio.sass */
.twitter {
  padding-right: 10px;
  padding-top: 5px;
}

/* line 6, ../sass/inicio.sass */
.nav_a_parallax {
  opacity: 0.9;
}
/* line 8, ../sass/inicio.sass */
.nav_a_parallax:hover {
  opacity: 1;
}

/* line 11, ../sass/inicio.sass */
.lineasCooperativas {
  padding-top: 30px;
}
