/* line 4, ../sass/parallax.sass */
#about article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

/* line 11, ../sass/parallax.sass */
#eventos {
  background: url(../img/triangulosBlancos.png) 50% 1% repeat-x;
  height: 800px;
  margin: 0px;
  max-width: 1920px;
  min-height: 800px;
  width: 800px;
}

/* line 19, ../sass/parallax.sass */
#frases {
  background: url(../img/cole.png) 100% 0 no-repeat;
  height: 1300px;
  margin: 0 auto;
  max-width: 2020px;
  min-height: 1000px;
  position: relative;
  width: 100%;
}

/* line 28, ../sass/parallax.sass */
#frases article {
  text-align: center;
  padding-bottom: 2px;
  position: relative;
  width: 100%;
}

/* line 34, ../sass/parallax.sass */
#fraseCulturaLibre {
  background: url(../img/triangulosAzul.png) 50% 10% repeat-y;
  height: 800px;
  margin: 0 auto;
  max-width: 100%;
  min-height: 700px;
  padding-top: 230px;
  position: relative;
  width: 100%;
  z-index: 4;
}

/* line 45, ../sass/parallax.sass */
#fraseEvento {
  background: url(../img/triangulosVioleta.png) 50% 10% repeat-y;
  height: 800px;
  margin: 0 auto;
  max-width: 100%;
  min-height: 800px;
  padding-top: 230px;
  position: relative;
  width: 100%;
  z-index: 4;
}

/* line 56, ../sass/parallax.sass */
#fraseQueHacemos {
  background: url(../img/triangulosVerdes.png) 50% 10% repeat-y;
  height: 700px;
  margin: 0 auto;
  max-width: 100%;
  min-height: 700px;
  padding-top: 230px;
  position: relative;
  width: 100%;
  z-index: 4;
}

/* line 67, ../sass/parallax.sass */
#fraseQuienesSomos {
  background: url(../img/triangulos.png) 50% 10% repeat-y;
  height: 700px;
  margin: 0 auto;
  max-width: 100%;
  min-height: 800px;
  padding-top: 230px;
  position: relative;
  width: 100%;
  z-index: 4;
}

/* line 78, ../sass/parallax.sass */
#inicio {
  height: 550px;
  min-height: 550px;
}

/* line 82, ../sass/parallax.sass */
#queHacemos {
  background: url(../img/triangulosBlancos.png) 50% 0 repeat-x;
  height: 700px;
  margin: 0 auto;
  max-width: 1920px;
  min-height: 700px;
  position: relative;
  width: 100%;
}

/* line 91, ../sass/parallax.sass */
#quienesSomos {
  background: url(../img/triangulosBlancos.png) 50% 0 repeat-y fixed;
  height: 1300px;
  margin: 0 auto;
  max-width: 2020px;
  min-height: 1000px;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* line 101, ../sass/parallax.sass */
#quienesSomos article {
  text-align: center;
  padding-bottom: 2px;
  position: relative;
  width: 100%;
}

/* line 107, ../sass/parallax.sass */
#superHeroe {
  display: none;
  position: absolute;
  right: 0px;
  width: 50px;
}

/* line 113, ../sass/parallax.sass */
#volador {
  background: url(../img/paracaidas.png) 50% 0 repeat-x fixed;
  height: 150px;
  margin: 0 auto;
  max-width: 2020px;
  min-height: 100px;
  position: relative;
  width: 100%;
}

/* line 122, ../sass/parallax.sass */
#voladorSuperheroe {
  background: url(../img/triangulosBlancos.png) 30% 10% repeat-x;
  height: 150px;
  position: relative;
  width: 100%;
}

/* line 128, ../sass/parallax.sass */
.content_parallax {
  height: 100%;
  padding-top: 0px;
  top: 0;
}

/* line 133, ../sass/parallax.sass */
.text {
  align: center;
  background-color: #4fb2b6;
  margin: 0 auto;
  opacity: 0.8;
  padding: 2px;
  position: relative;
  text-align: right;
  width: 80%;
  z-index: 4;
}

/* line 144, ../sass/parallax.sass */
.text div {
  padding: 100px 0;
  width: 500px;
}

/* line 148, ../sass/parallax.sass */
.socios {
  width: 100%;
}
