@font-face {
  font-family: "carolingia";
  src: url(carolingia.ttf) format("truetype");
  font-family: "cutelove";
  src: url(CuteLove.ttf) format("truetype");
  font-family: "hasterisco";
  src: url(HasteristicoBOLD.ttf) format("truetype");
}

/* line 18, ../sass/queHacemos.sass */
[class^="icon-"], [class*=" icon-"] {
  vertical-align: middle;
}

/* line 21, ../sass/queHacemos.sass */
h3 {
  font-family: "hasterisco";
}

/* line 25, ../sass/queHacemos.sass */
.btn-trabajos {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #edbc00;
  *background-color: #edbc00;
  background-image: -moz-linear-gradient(top, #f4d766, #edbc00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4d766), to(#edbc00));
  background-image: -webkit-linear-gradient(top, #f4d766, #edbc00);
  background-image: -o-linear-gradient(top, #f4d766, #edbc00);
  background-image: linear-gradient(to bottom, #f4d766, #edbc00);
  background-repeat: repeat-x;
  border-color: #edbc00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4D766', endColorstr='#EDBC00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-family: "otun";
  font-size: 26px;
  font-weight: bold;
}

/* line 45, ../sass/queHacemos.sass */
.btn-trabajos:hover,
.btn-trabajos:active,
.btn-trabajos.active,
.btn-trabajos.disabled,
.btn-trabajos[disabled] {
  color: white;
  background-color: #edbc00;
  *background-color: #003bb3;
}

/* line 54, ../sass/queHacemos.sass */
.carousel-control {
  background: none;
  border: none;
  filter: alpha(opacity=50);
  font-family: "cutelove";
  font-family-size: 120px;
  font-family-weight: 100;
  left: 15px;
  line-height: 30px;
  margin-top: -20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 40px;
}

/* line 74, ../sass/queHacemos.sass */
.carousel-caption {
  background-color: #23881d;
}

/* line 77, ../sass/queHacemos.sass */
.dl-horizontal {
  font-size: 26px;
}

/* line 80, ../sass/queHacemos.sass */
.miItem {
  text-align: center;
}

/* line 84, ../sass/queHacemos.sass */
.hacer {
  height: 80%;
}

/* line 87, ../sass/queHacemos.sass */
.menuPalabra {
  font-family: "hasterisco";
  font-size: 32px;
}

/* line 92, ../sass/queHacemos.sass */
.menuPalabra:hover {
  font-size: 36px;
}

/* line 96, ../sass/queHacemos.sass */
.menuLogos {
  height: 30px;
  opacity: 0.6;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 103, ../sass/queHacemos.sass */
.menuLogos:hover {
  box-shadow: 1;
  opacity: 1;
}

/* line 107, ../sass/queHacemos.sass */
.menuDeLogos {
  text-align: center;
  padding-bottom: 20px;
}

/* line 111, ../sass/queHacemos.sass */
.modal-body {
  background: #aba692;
}

/* line 114, ../sass/queHacemos.sass */
.modal-footer {
  background: #aba692;
  border-top-color: #483737;
  box-shadow: 0 1px 0 #918787 inset;
}

/* line 119, ../sass/queHacemos.sass */
.modal-header {
  background: #aba692;
  border-bottom-color: #483737;
}

/* line 123, ../sass/queHacemos.sass */
.servicios {
  padding-top: 20%;
  text-align: center;
}

/* line 127, ../sass/queHacemos.sass */
.textQueHacemos {
  align: center;
  background-color: #018000;
  color: white;
  margin: 0 auto;
  opacity: 0.8;
  padding: 2px;
  position: relative;
  text-align: right;
  width: 80%;
  z-index: 4;
}

/* line 139, ../sass/queHacemos.sass */
#redes {
  display: none;
}

/* line 142, ../sass/queHacemos.sass */
#migracion {
  display: none;
}

/* line 145, ../sass/queHacemos.sass */
#asesoramiento {
  display: none;
}

/* line 148, ../sass/queHacemos.sass */
#disenio {
  display: none;
}

/* line 151, ../sass/queHacemos.sass */
#desarrollo {
  display: none;
}

/* line 154, ../sass/queHacemos.sass */
#capacitacion {
  display: none;
}

/* line 157, ../sass/queHacemos.sass */
#electronica {
  display: none;
}
