@font-face {
  font-family: "otun";
  src: url(Otun.ttf) format("truetype");
  font-family: "hasterisco";
  src: url(HasteristicoBOLD.ttf) format("truetype");
}

/* line 12, ../sass/quienesSomos.sass */
.equipo {
  color: #99cc33;
  font-family: "otun";
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/* line 22, ../sass/quienesSomos.sass */
.socio {
  padding-bottom: 20px;
  padding-top: 30p;
  text-align: justify;
}

/* line 29, ../sass/quienesSomos.sass */
.nombre {
  font-family: "hasterisco";
}

/* line 33, ../sass/quienesSomos.sass */
.textQuienesSomos {
  align: center;
  background-color: #d63030;
  color: white;
  margin: 0 auto;
  opacity: 0.8;
  padding: 2px;
  position: relative;
  text-align: right;
  width: 80%;
  z-index: 4;
}
