@font-face {
  font-family: "otun";
  src: url(Otun.ttf) format("truetype");
  font-family: "rawengu";
  src: url(RawengulkLight.ttf) format("truetype");
  font-family: "rawe";
  src: url(RawengulkRegular.ttf) format("truetype");
}

/* line 20, ../sass/top.sass */
.cerebro {
  height: 40px;
  padding: 10px;
}

/* line 24, ../sass/top.sass */
.elefanteBlanco {
  height: 20px;
}

/* line 27, ../sass/top.sass */
.superior {
  background-color: #aca793;
  text-align: right;
  font-family: "rawe";
  font-size: 20px;
  padding-top: 20px;
}

/* line 38, ../sass/top.sass */
.lineaAmarilla {
  background-color: #ffcd01;
  border: 0px;
  height: 3px;
  margin-top: -23px;
  repeat: repeat-x;
}

/* line 45, ../sass/top.sass */
.logo {
  height: 100px;
}

/* line 48, ../sass/top.sass */
.menu {
  background-color: #aca793;
  background-image: none;
  font-family: "otun";
  font-size: 40px;
  height: auto;
  padding-bottom: 40px;
  padding-top: 40px;
}

/* line 61, ../sass/top.sass */
.navbar .navbar-inner {
  background-color: #aca793;
  background-image: none;
  border: 0px;
  box-shadow: none;
}
/* line 69, ../sass/top.sass */
.navbar .navbar-inner li a {
  color: black;
  text-shadow: 0 1px 0 #aca793;
}
/* line 73, ../sass/top.sass */
.navbar .navbar-inner li a:hover {
  text-shadow: 0 1px 0 #ffcd01;
}
/* line 79, ../sass/top.sass */
.navbar .nav li a {
  text-shadow: #483737;
}
/* line 83, ../sass/top.sass */
.navbar .nav .active a {
  background-color: #aca793;
  text-shadow: 0 1px 0 #ffcd01;
  box-shadow: none;
  text-shadow: #ffcd01;
}
/* line 88, ../sass/top.sass */
.navbar .nav .active a:hover {
  background-color: #aca793;
  box-shadow: none;
}

/* line 92, ../sass/top.sass */
.top {
  background-color: #ffcd01;
  color: white;
  padding-bottom: 31px;
  padding-top: 31px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

/* line 100, ../sass/top.sass */
.rojo {
  color: red;
}

/* line 103, ../sass/top.sass */
.azul {
  color: blue;
}

/* line 106, ../sass/top.sass */
.verde {
  color: #008f00;
}

/* line 109, ../sass/top.sass */
.violeta {
  color: #6600cc;
}

/* line 112, ../sass/top.sass */
.ribbon-left {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url(../img/izquierda.png);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  height: 192px;
  left: 12px;
  position: absolute;
  width: 56px;
}

/* line 127, ../sass/top.sass */
.ribbon-right {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url(../img/derecha.png);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  height: 192px;
  position: absolute;
  right: 8px;
  top: 19px;
  width: 56px;
}
