$blanco: #FFFFFF
$marron_claro: #aca793
$verde_fluo: #66FF33
$verde_musgo: #99cc33
$verde_claro: #E5F04C
$fucsia: #800c80
$gris_topo: #483737

@font-face 
  font-family: "otun"
  src: url(Otun.ttf) format("truetype")
  font-family: "rawengu"
  src: url(RawengulkLight.ttf) format("truetype")
  font-family: "rawe"
  src: url(RawengulkRegular.ttf) format("truetype")
  font-family: "hasterisco"
  src: url(HasteristicoBOLD.ttf) format("truetype")

body
  background-color: $gris_topo

.fondo
  background-color: $marron_claro 

.frase
  color: $verde_musgo
  font:
    family: 'hasterisco'
  padding:
    bottom: 20px
    top: 20px
  text:
    align: center
    shadow: 2px 2px 3px $gris_topo

.botones
  margin-left: -11px

.menuBotones
  z-index: 3

h2
  font-family: 'otun'

p
  font:
    family: 'rawe'
    size: 18px

.cooperativa
  font:
    size: 26px
  padding: 30px
  text:
    align: left
    
.resalta
  color: $verde_claro
  
#inicio
  padding:
    bottom: 20px
    top: 20px