$azul: #2E4383
$blanco: #FFFFFF

#arriba
	bottom: 0px
	position: absolute
	right: 0px

#codigo
	display: none
	text-align: left
  
#codigoDescripcion
	display: none
	text-align: left

#derecha
	margin-left: 0px

#derecha_abajo
	@extend #derecha
	position: relative
	top: 0px
   
#derecha_arriba
	@extend #derecha
	bottom: 0px
	left: 0px
	position: absolute

#disenio
	display: none
	text-align: left

#disenioDescripcion
	display: none
	text-align: left
 
#fotos
	display: none
	text-align: left

#fotosDescripcion
	display: none
	text-align: left

#izquierda_arriba
	bottom: 0px
	position: absolute
	right: 0px

#izquierda_abajo
	position: absolute
	right: 0px
	top: 0px


ul.inline > li, ol.inline > li
	padding-left: 20px
	padding-right: 20px
	padding-top: 20px
	padding-bottom: 20px

#logoCulturaPeque
	display: none
	width: 10%

#manuales
	display: none
	text-align: left

#manualDescripcion
	display: none
	text-align: left

.arriba
	padding:
		bottom: 0px

.cultura
	height: 145px
	min-height: 145px
	position: relative
  
.logoCultura
	text:
		align: center

.textCulturaLibre
	align: center
	background:
		color: $azul
	color: $blanco
	margin: 0 auto
	opacity: 0.8
	padding: 2px
	position: relative
	text-align: right
	width: 80%
	z-index: 4
  
.peque dt
	width: 80px
	
.peque dd
	margin:
		left: 100px