$blanco: #FFFFFF
$verde_fluo: #66FF33
$verde_musgo: #99cc33
$violeta: #660080

@font-face 
	font-family: "otun"
	src: url(Otun.ttf) format("truetype")
	font-family: "rawengu"
	src: url(RawengulkLight.ttf) format("truetype")
	font-family: "rawe"
	src: url(RawengulkRegular.ttf) format("truetype")
	font-family: "hasterisco"
	src: url(HasteristicoBOLD.ttf) format("truetype")

.carousel-control
	background: none
	border: none
	color: $verde_fluo
	filter: alpha(opacity=50)
	font:
		family: 'hasterisco'
		size: 180px
		weight: 100
	left: 15px
	line:
		height: 30px
	margin:
		top: -20px
	opacity: 0.5
	position: absolute
	text:
		align: center
	top: 40%
	width: 40px

.carousel-control:hover,
.carousel-control:focus
	color: $verde_musgo
	filter: alpha(opacity=90)
	opacity: 0.9
	text-decoration: none

.carousel-inner
	text:
		align: center

.detalle
	background: $verde_musgo
	opacity: 0.7

.evento
	padding-bottom: 1px
 
.foto
	height: 400px
	max-height: 400px

.miItem
	text:
		align: center
    
.text
	align: center
	background-color: $violeta
	color: $blanco
	margin: 0 auto
	opacity: 0.8
	padding: 2px
	position: relative
	text-align: right
	width: 80%
	z-index: 4
  
#principal
	margin-left: 0px