$marron_oscuro: #483737
$amarillo: #edbc00
$amarillo_claro: #F4D766

@font-face 
	font-family: "otun"
	src: url(Otun.ttf) format("truetype")  

@font-family: "rawe"
	src: url(RawengulkRegular.ttf) format("truetype")

a
	color: $amarillo
	text-decoration: none

.alert
	font:
		family: 'rawe'
		size: 16px 

.footer
	background-color: $marron_oscuro
	color: $amarillo
	height: 100%
	font:
		family: 'otun'
		size: 36px
	-moz-box-shadow: 0 0 5px #070606
	-webkit-box-shadow: 0 0 5px #070606
	box-shadow: 0 0 5px #070606
  
label
	color: white
	font-family: tahoma

.contacto
	font:
		family: 'otun'
		size: 56px
	margin-bottom: 60px
	padding-top: 60px

.btn-enviar
	color: #FFFFFF
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	background-color: #EDBC00
	*background-color: #EDBC00
	background-image: -moz-linear-gradient(top, #F4D766, #EDBC00)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4D766), to(#EDBC00))
	background-image: -webkit-linear-gradient(top, #F4D766, #EDBC00)
	background-image: -o-linear-gradient(top, #F4D766, #EDBC00)
	background-image: linear-gradient(to bottom, #F4D766, #EDBC00)
	background-repeat: repeat-x
	border-color: #EDBC00
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4D766', endColorstr='#EDBC00', GradientType=0)
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
	font:
		family: 'otun'
		size: 26px
		weight: bold

.btn-enviar:hover,
.btn-enviar:active,
.btn-enviar.active,
.btn-enviar.disabled,
.btn-enviar[disabled]
	color: #FFFFFF
	background-color: #EDBC00
	*background-color: #003bb3

.form-input, .error
	display: block
	padding: 6px 10px
	border-radius: 4px
	-moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1)
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1)
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1)
	background-color: #FFE6E6
	-moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7)
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7)
	box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7)
	behavior: url(PIE.htc)
	background: #FFE6E6
	color: #B94A48
	position: relative
	font:
		family: 'rawe'
		size: 16px

.iconos
	margin-top: -60px
	padding-right: 10px
	text-align: right

.linea
	background-color: $amarillo
	border: 0px
	height: 3px
	margin-top: 40px
	repeat: repeat-x

.logos
	margin-top: 120px
	text-align: center