$marron_claro: #aca793
$azul: #4fb2b6

#about article
  height: 458px
  position: absolute
  text-align: center
  top: 150px
  width: 100%

#eventos
  background: url(../img/triangulosBlancos.png) 50% 1% repeat-x
  height: 800px
  margin: 0px
  max-width: 1920px
  min-height: 800px
  width: 800px

#frases
  background: url(../img/cole.png) 100% 0 no-repeat
  height: 1300px
  margin: 0 auto
  max-width: 2020px
  min-height: 1000px
  position: relative
  width: 100%
  
#frases article
  text-align: center
  padding-bottom: 2px
  position: relative
  width: 100%

#fraseCulturaLibre
  background: url(../img/triangulosAzul.png) 50% 10% repeat-y
  height: 800px
  margin: 0 auto
  max-width: 100%
  min-height: 700px
  padding-top: 230px
  position: relative
  width: 100%
  z-index: 4
  
#fraseEvento
  background: url(../img/triangulosVioleta.png) 50% 10% repeat-y
  height: 800px
  margin: 0 auto
  max-width: 100%
  min-height: 800px
  padding-top: 230px
  position: relative
  width: 100%
  z-index: 4

#fraseQueHacemos
  background: url(../img/triangulosVerdes.png) 50% 10% repeat-y 
  height: 700px
  margin: 0 auto
  max-width: 100%
  min-height: 700px
  padding-top: 230px
  position: relative
  width: 100%
  z-index: 4

#fraseQuienesSomos
  background: url(../img/triangulos.png) 50% 10% repeat-y
  height: 700px
  margin: 0 auto
  max-width: 100%
  min-height: 800px
  padding-top: 230px
  position: relative
  width: 100%
  z-index: 4

#inicio
  height: 550px
  min-height: 550px

#queHacemos
  background: url(../img/triangulosBlancos.png) 50% 0 repeat-x
  height: 700px
  margin: 0 auto
  max-width: 1920px
  min-height: 700px
  position: relative
  width: 100%

#quienesSomos
  background: url(../img/triangulosBlancos.png) 50% 0 repeat-y fixed 
  height: 1300px
  margin: 0 auto
  max-width: 2020px
  min-height: 1000px
  position: relative
  width: 100%
  z-index: 1

#quienesSomos article
  text-align: center
  padding-bottom: 2px
  position: relative
  width: 100%

#superHeroe
  display: none
  position: absolute
  right: 0px
  width: 50px

#volador
  background: url(../img/paracaidas.png) 50% 0 repeat-x fixed 
  height: 150px
  margin: 0 auto
  max-width: 2020px
  min-height: 100px
  position: relative
  width: 100%

#voladorSuperheroe
  background: url(../img/triangulosBlancos.png) 30% 10% repeat-x
  height: 150px
  position: relative
  width: 100%

.content_parallax
  height: 100%
  padding-top: 0px
  top: 0

.text
  align: center
  background-color: $azul
  margin: 0 auto
  opacity: 0.8
  padding: 2px
  position: relative
  text-align: right
  width: 80%
  z-index: 4
 
.text div
  padding: 100px 0
  width: 500px

.socios
  width: 100%