$amarillo: #edbc00
$amarillo_claro: #F4D766
$blanco: #FFFFFF
$marron: #ABA692
$marron_oscuro: #483737
$marron_claro: #918787
$verde: #018000
$verde_claro: #99BD46

@font-face 
	font-family: "carolingia"
	src: url(carolingia.ttf) format("truetype")
	font-family: "cutelove"
	src: url(CuteLove.ttf) format("truetype")
	font-family: "hasterisco"
	src: url(HasteristicoBOLD.ttf) format("truetype")

[class^="icon-"], [class*=" icon-"]
	vertical-align: middle

h3
	font:
		family: 'hasterisco'

.btn-trabajos
	color: #FFFFFF
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	background-color: #EDBC00
	*background-color: #EDBC00
	background-image: -moz-linear-gradient(top, #F4D766, #EDBC00)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4D766), to(#EDBC00))
	background-image: -webkit-linear-gradient(top, #F4D766, #EDBC00)
	background-image: -o-linear-gradient(top, #F4D766, #EDBC00)
	background-image: linear-gradient(to bottom, #F4D766, #EDBC00)
	background-repeat: repeat-x
	border-color: #EDBC00
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4D766', endColorstr='#EDBC00', GradientType=0)
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
	font:
		family: 'otun'
		size: 26px
		weight: bold

.btn-trabajos:hover,
.btn-trabajos:active,
.btn-trabajos.active,
.btn-trabajos.disabled,
.btn-trabajos[disabled]
	color: #FFFFFF
	background-color: #EDBC00
	*background-color: #003bb3

.carousel-control
	background: none
	border: none
	filter: alpha(opacity=50)
	font:
		family: 'cutelove'
			size: 120px
			weight: 100
	left: 15px
	line:
		height: 30px
	margin:
		top: -20px
	opacity: 0.5
	position: absolute
	text:
		align: center
	top: 40%
	width: 40px

.carousel-caption
	background-color: rgba(35, 136, 29, 1)

.dl-horizontal
	font-size: 26px

.miItem
	text:
		align: center

.hacer
	height: 80%

.menuPalabra
	font:
		family: 'hasterisco'
		size: 32px

.menuPalabra:hover
	font:
		size: 36px

.menuLogos
	height: 30px
	opacity: 0.6
	padding:
		left: 2%
		right: 2%
  
.menuLogos:hover
	box-shadow: 1
	opacity: 1

.menuDeLogos
	text-align: center
	padding-bottom: 20px

.modal-body
	background: $marron
  
.modal-footer
	background: $marron
	border-top-color: $marron_oscuro
	box-shadow: 0 1px 0 $marron_claro inset

.modal-header
	background: $marron
	border-bottom-color: $marron_oscuro

.servicios
	padding-top: 20%
	text-align: center

.textQueHacemos
	align: center
	background-color: $verde
	color: $blanco
	margin: 0 auto
	opacity: 0.8
	padding: 2px
	position: relative
	text-align: right
	width: 80%
	z-index: 4
  
#redes
	display: none
  
#migracion
	display: none
  
#asesoramiento
	display: none
  
#disenio
	display: none
  
#desarrollo
	display: none
  
#capacitacion
	display: none

#electronica
	display: none