$blanco: #FFFFFF
//$verde_fluo: #66FF33
$verde_fluo: #99cc33
$rojo: #D63030

@font-face 
  font-family: "otun"
  src: url(Otun.ttf) format("truetype")
  font-family: "hasterisco"
  src: url(HasteristicoBOLD.ttf) format("truetype")
  
.equipo
  color: $verde_fluo
  font:
    family: 'otun'
  padding:
    bottom: 20px
    top: 20px
  text:
    align: center

.socio
  padding:
    bottom: 20px
    top: 30p
  text:
    align: justify
    
.nombre
  font:
    family: 'hasterisco'

.textQuienesSomos
  align: center
  background-color: $rojo
  color: $blanco
  margin: 0 auto
  opacity: 0.8
  padding: 2px
  position: relative
  text-align: right
  width: 80%
  z-index: 4