$amarillo: #ffcd01
$amarillo_oscuro: #997B01
$azul:#0000FF
$blanco: #FFFFFF
$marron_claro: #aca793
$marron_oscuro: #483737
$negro: #000000
$rojo: #FF0000
$verde:  #008F00
$violeta: #6600CC

@font-face 
  font-family: "otun"
  src: url(Otun.ttf) format("truetype")
  font-family: "rawengu"
  src: url(RawengulkLight.ttf) format("truetype")
  font-family: "rawe"
  src: url(RawengulkRegular.ttf) format("truetype")
  
.cerebro
  height: 40px
  padding: 10px

.elefanteBlanco
  height: 20px

.superior
  background:
    color: $marron_claro
  text:
    align: right
  font:
    family: 'rawe'
    size: 20px
  padding:
    top: 20px

.lineaAmarilla
  background-color: $amarillo
  border: 0px
  height: 3px
  margin-top: -23px
  repeat: repeat-x

.logo
  height: 100px

.menu
  background:
    color: $marron_claro
    image: none
  font:
    family: 'otun'
    size: 40px
  height: auto
  padding:
    bottom: 40px
    top: 40px

.navbar
  .navbar-inner
    background:
      color: $marron_claro
      image: none
    border: 0px
    box:
      shadow: none
    li
      a
        color: $negro
        text:
          shadow: 0 1px 0 $marron_claro
        &:hover
          text:
            shadow: 0 1px 0 $amarillo
            
  .nav
    li
      a
        text:
          shadow: $marron_oscuro
    .active
      a
        background-color: $marron_claro
        text-shadow: 0 1px 0 $amarillo
        box-shadow: none
        text-shadow: $amarillo
        &:hover
          background-color: $marron_claro
          box-shadow: none     
  
.top
  background-color: $amarillo
  color: $blanco
  padding:
    bottom: 31px
    top: 31px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)
  
.rojo
  color: $rojo
  
.azul
  color: $azul
  
.verde
  color: $verde
  
.violeta
  color: $violeta

.ribbon-left
  background:
    attachment: scroll
    clip: border-box
    color: transparent
    image: url(../img/izquierda.png)
    origin: padding-box
    position: 0 0
    repeat: no-repeat
    size: auto auto
  height: 192px
  left: 12px
  position: absolute
  width: 56px

.ribbon-right
  background:
    attachment: scroll
    clip: border-box
    color: transparent
    image: url(../img/derecha.png)
    origin: padding-box
    position: 0 0
    repeat: no-repeat
    size: auto auto
  height: 192px
  position: absolute
  right: 8px
  top: 19px
  width: 56px
