/*
Errno::ENOENT: No such file or directory - input.sass

Backtrace:
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `read'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:32:in `start'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:32:in `initialize'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:32:in `new'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:32:in `start'
/var/lib/gems/1.8/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:445:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.2.7/bin/sass:9
/usr/local/bin/sass:19:in `load'
/usr/local/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - input.sass"; }
